einops
tqdm
pillow
numpy
matplotlib
# pip install torch torchvision torchaudio
# pip install torch==1.13.0+cu117 torchvision==0.14.0+cu117 torchaudio==0.13.0 --extra-index-url https://download.pytorch.org/whl/cu117 #pc
# pip install torch torchvision torchaudio --extra-index-url https://download.pytorch.org/whl/cu113 #nu
autopep8
# ipywidgets
jupyter
tensorboard
opencv-python
tensorflow
torchmetrics[image]